<% if resource.errors.any? %>
  <div class="login-session d-flex flex-row align-items-center justify-content-between" id="error_explanation" data-turbo-cache="false">
    <div class="flex-grow-1 d-flex flex-column justify-content-center align-items-center">
      <p>
        <%= I18n.t("errors.messages.not_saved",
                  count: resource.errors.count,
                  resource: resource.class.model_name.human.downcase)
        %>
      </p>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
