<% if controller_name == 'carts' && action_name == 'show' %>
    <div class="footer-carts d-flex flex-wrap">
<% else %>
    <div class="footer d-flex flex-wrap">
<% end %>
      <div class="form-group">
        <label class="email-label" for="email">Join us and create an account for exclusive offers:</label>
        <input class="enter-email" placeholder="Enter your email" type="email" id="email" pattern=".+@example\.com" size="30" required />
      </div>
      <div class="footer-links">
        <h3 style="font-size: 18px;">Help</h3>
        <a href="#"><i class="fab"></i>Track Order</a>
        <a href="#"><i class="fab"></i>Delivery Information</a>
        <a href="#"><i class="fab"></i>Contact</a>
        <a href="#"><i class="fab"></i>Returns & Refunds</a>
        <a href="#"><i class="fab"></i>My profile</a>
      </div>
      <div class="footer-links">
        <h3 style="font-size: 18px;">Documentation</h3>
        <a href="#"><i class="fab"></i>FAQ</a>
        <a href="#"><i class="fab"></i>Privacy Policy</a>
        <a href="#"><i class="fab"></i>Cookie Policy</a>
        <a href="#"><i class="fab"></i>Charity</a>
      </div>
      <div class="footer-links">
        <h3 style="font-size: 18px;">Social</h3>
        <a href="#"><i class="fab"></i>Facebook</a>
        <a href="#"><i class="fab"></i>Instagram</a>
        <a href="#"><i class="fab"></i>Youtube</a>
        <a href="#"><i class="fab"></i>Spotify</a>
      </div>
      <div class="w-100 ">
        <div class="footer-line d-flex align-items-end"></div>
        <div class="footer-text d-flex justify-content-between mt-3">
          <div class="footer-copyright">
            © pyenergy Inc. All Rights Reserved 2023
          </div>
          <div>Terms & Conditions</div>
        </div>
      </div>
    </div>
