<div class="checkouts">
  <h1>Checkout Page</h1>
  <script type="module" src="/assets/javascript/controllers/stripe_controller.js"></script>
  <div data-controller="stripe"
    data-stripe-public-key-value="<%= Rails.application.credentials.dig(:stripe, :publishable_key) %>"
    data-stripe-client-secret-value="<%= @session.client_secret %>">
  </div>
</div>
