.main-image {
  height: 60% !important;
  padding-bottom: 100px;
  padding-top: 50px;
}

.card-title {
  font-family: "Nixie One", system-ui;
  letter-spacing:3px;
}

.quick-shop {
  border: 1px solid black;
  padding: 15px;
  border-radius: 0;
}

.row {
  justify-content: center;
  gap: 70px;
}
