body.candles.index {
  @media only screen and (min-width: 400px) and (max-width: 500px){
    .light-shine {
      font-size: 40px !important;
    }
  }
}

body.candles.show {
  @media only screen and (max-width: 1000px){
    .light-shine {
      font-size: 40px !important;
      padding-bottom: 2rem;
    }

    .button {
      padding: 20px 45px;
      font-size: 18px;
    }

    .media-flex-wrap {
      padding-bottom: 3rem;
    }

    .navbar-text {
      color: white!important;
    }
    .badge {
      color: black;
    }
  }
}
