.main-image {
  height: 40rem !important;
  background-color: white;
}

.candle-show-page {
  padding-top: 7rem;
}

.card-title {
  font-family: "Nixie One", system-ui;
  letter-spacing:3px;
}

.quick-shop {
  border: 1px solid black;
  padding: 15px;
  border-radius: 0;
}

.shop-collection {
  font-family: "Nixie One", system-ui;
  font-size: 65px;
  color: black;
}

.candles-container {
  background-color: white;
}

.collection-image {
  width: 90%;
  border: solid 2px black;
  border-radius: 30px;
}

.container {
  max-width: 1500px;
}

.welcome-message {
  font-family: 'Nixie One';
}
