.cart-image {
  width: 100%;
}

.cart-container{
  padding-left: 130px;
  padding-right: 80px;
}

.basket-heading {
  font-family: "Nixie One", system-ui;
  font-size: 30px;
  margin-right: 8px;
}

.basket-quantity {
  font-size: 15px;
  font-family: "Nixie One", system-ui;
}

.remove-button {
  position: absolute;
  top: 20px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  cursor: pointer;
  text-align: left;
  color: inherit;
}

.remove-button:hover {
  background-color: transparent;
}

.remove-item {
  width: 5%;
}

.payment-methods{
  width: 10%;
  align-content: center;
}

.basket-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 500px;
}

.second-card {
  height: 50%!important;
}

.second-card-body {
  padding-bottom: 40px;
}

.payments {
  display: flex;
  justify-content: space-evenly;
}

.quantity-adjust-btn {
  background-color: transparent;
  border: solid 1px;
  margin: 4px;
  padding: 2px 10px;
  font-size: 19px;
}

.quantity-input {
  background-color: transparent;
  border: solid 1px;
  padding: 2px 10px;
}

.summary-totals {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 3px;
  line-height: 40px;
  width: 300%;
}

.cart-body {
  min-width: 100%;
}

.continue-shopping {
  background-color: black;
  padding: 15px 30px;
  /* font-weight: 700; */
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  border: 0;
}

.proceed-to-checkout {
  background-color: black;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  border: 0;
  width: 100%;
  padding: 30px 0px;

}

@media only screen and (max-width: 1000px){
  .basket-container {
    flex-wrap: wrap;
  }
  .remove-button {
    top: -26px;
    left: 0;
  }
  .summary-totals {
    width: 100%;
  }
  .cart-image {
    width: 50%;
    height: 35%;
  }
}

.card-text:last-child {
  margin-bottom: 0;
  display: flex!important;
  justify-content: end!important;
}
