.footer {
  position: relative;
  bottom: 0;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding: 50px 50px;
  height: 30%;
  width: 100%;
  /* border-top-right-radius: 50px;
  border-top-left-radius: 50px; */
  background-color: #000;
  color: #E6FE53;
  z-index: 1;
  line-height: 2;
}

.footer-logo {
  width: 20%;
  margin: 2rem;
}

.footer-carts {
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  width: 100%;
  background-color: #000;
  color: #E6FE53;
  z-index: 1;
}

.footer-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 3%;
}

.footer-links a {
  color: #E6FE53;
  opacity: 0.7;
  text-decoration: none;
  font-size: 18px;
  /* padding: 0px 0px; */
}

.footer-links a:hover {
  opacity: 1;
}

.footer-socials {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  position: absolute;
  width: 100%;
  padding: 50px;
}

.socials {
  width: 3%;
  margin:5px;
}

.footer-line {
  /* display: flex; */
  /* align-content: flex-end; */
  border-top: 1px solid #E6FE53;;
  width: 100%;
}

.email-label {
  font-weight: 400;
  font-size: 20px;
}

.enter-email {
  border-radius: 30px;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: 1px solid black;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Work Sans', sans-serif;
  /* align-items: center; */
  /* text-align: center; */
}

.help-title {
  font-size: 25px;
}

@media only screen and (max-width: 665px) {
  .footer-socials {
    flex-direction: column!important;
    align-items: flex-end!important;
  }

  .footer-links {
    left: 5%!important;
  }

  .footer-links a{
    font-size: 8px!important;
  }

  .form-group {
    font-size: 8px!important;
  }

  .help-title {
    font-size: 8px!important;
  }

  .footer-text {
    font-size: 6px!important;
    margin-top: 0rem!important;
  }
}

@media only screen and (max-width: 1000px) {
  .footer {
    padding: 25px 20px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }

  .footer-margin {
    margin-bottom: 1rem;
  }

  .footer-links a{
    font-size: 10px;
  }

  .form-group {
    font-size: 10px;
  }

  .help-title {
    font-size: 10px;
  }

  .footer-text {
    font-size: 8px;
    margin-top: 0rem!important;
  }

  .socials {
    width: 6%;
  }

  .footer-socials {
    padding: 0!important;
  }
}
