.footer {
  position: relative;
  bottom: 0;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding: 50px 50px;
  height: 30%;
  width: 100%;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background-color: #000;
  color: white;
  z-index: 1;
}

.footer-carts {
  position: relative;
  bottom: -200px;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding: 50px 50px;
  height: 30%;
  width: 100%;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background-color: #000;
  color: rgb(255, 255, 255);
  z-index: 1;
}

.footer-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-links a {
  color: rgb(255, 255, 255);
  opacity: 0.7;
  text-decoration: none;
  font-size: 18px;
  /* padding: 0px 0px; */
}

.footer-links a:hover {
  opacity: 1;
}

.footer-line {
  /* display: flex; */
  /* align-content: flex-end; */
  border-top: 1px solid #000;
  position: absolute;
  width:94%;
}

.email-label {
  font-weight: 400;
  font-size: 20px;
}

.enter-email {
  border-radius: 30px;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: 1px solid black;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Work Sans', sans-serif;
  /* align-items: center; */
  /* text-align: center; */
}

@media only screen and (max-width: 1000px) {
  .footer {
    padding: 25px 20px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }

  .footer-links {
    display: none;
  }

  .form-group {
    display: none;
  }

  .footer-line {
    display: none!important;
  }

  .footer-text {
    font-size: 11px;
    margin-top: 0rem!important;
  }
}
