body {
  background-color: #E6FE53;
  padding-top: 10%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  border: 0;
  font-size: 100%;
  line-height: 1;
  vertical-align: initial;
}

.essentials-cards {
  background-color: transparent;
  border: none;
}

.landing-container{
  position: relative;
  overflow-x: hidden;
}

.soy-candles {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 55px;
  color: white;
}

.wwf {
  width: 6%;
}

.build-candles {
  font-family: "Nixie One", system-ui;
  font-size: 60px;
  color: #E6FE53;
}

.light-shine {
  font-family: "Nixie One", system-ui;
  font-size: 60px;
  color: #000;
}

.r-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 60px;
  padding-top: 30px;
}

.shop-now-btn {
  position: absolute;
  bottom: -100px;
}

.lilac-section {
  position: absolute;
  height: 70%;
  width: 100%;
  max-width: 100%;
  background-color: #000000;
  top: 53%;
}

.black-section  {
  position: absolute;
  max-width: 100%;
  background-color: #000000;
  z-index: -1;
}

.main-landing-image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing_page_image {
  min-height: 50vh;
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.candella-sparks {
  width: 25%;
}

.floral-image {
  position: relative;
}

.description-container {
  position: absolute;
  max-width: 100%;
  background-color: #00000045;
}

.new-arrivals-card {
  position: absolute;
  left: 10%;
  background-color: rgba(255, 246, 234, 1);
  border: none;
  width: 40%;
}

.description-card {
  border-radius: 0px;
  max-width: 100%;
  z-index: 10;
}

.discover-content {
  max-width: 70%;
  text-align: center;
  font-size: 21px;
  font-family: 'Work sans', sans-serif;
  font-weight: 300;
}

.font {
  font-family: "Nixie One", system-ui;
}

.description-card-title {
  font-size: 80px;
  /* font-family: 'Great Vibes', cursive; */
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
}

.shop-our-essentials {
  margin: 5%;
}

.essentials {
  font-size: 50px;
  font-family: "Nixie One", system-ui;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  text-align: center;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px!important;
}

.black-div {
  padding: 5%;
}

.description-card-body {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.new-arrivals-card-body{
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.button {
  font-family: "Nixie One", system-ui;
  font-weight: 700;
  color: black;
  background-color: #E6FE53;
  border: none;
  border-radius:40px;
  padding: 15px 70px;
  transition-duration: 0.4s;
  box-shadow: 0 6px;
}

.build-now:hover {
  background-color: #a16666;
  color: black;
}

.fa-size {
  font-size: 29px;
  margin-bottom: 20px;
}

.vegan-friendly {
  display: flex;
  justify-content: center;
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  gap: 4rem!important;
  margin-top: 70px;
  margin-bottom: 90px;
  animation: carouselAnimation 10s linear infinite;
  animation-play-state: running;
}

@keyframes carouselAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 4rem));
  }
}

.carousel-container {
  overflow: hidden;
  width: 100%;
}

.qualities-title {
  font-size: 35px;
}

.qualities {
  font-size: 20px;
}

.quick-add {
  width: 50%;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: #000000;
  border: none;
  padding: 20px 50px;
}

.description-card-text {
  font-family: 'Work Sans', sans-serif;
  padding: 0;
  color: white;
}

/* .card-text {
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
  font-weight: 300;
} */

.description-text {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 3px;
  line-height: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

.save-planet-text {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 22px;
  letter-spacing: 3px;
  line-height: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

.light-text {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 3px;
  line-height: 50px;
  padding-left: 10%;
  padding-right: 10%;
}

.product-item {
  margin: 30px;
}

.slick-prev {
  transform: rotateY(180deg)!important;
}

.slick-prev, .slick-next {
  top: 30%!important;
}

.slick-dots {
  bottom: 10%!important;
}

.product-slider-container {
  background-color: white;
}

.product-slider-card {
  display: flex;
  justify-content: center;
}

.pd-top-5 {
  padding-top: 5%;
}

#productSlider {
  margin: 0px 5% 0 5%;
  background-color: white;
  padding-bottom: 5%;
}

.handwriting {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.shop-now:hover {
  background-color: black;
  color: white;
}

.peace-phrase {
  width: 60%;
}

.flexible-image-1 {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 40px;
}

.flexible-image-2 {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.flexible-image-3 {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 40px;
}

.images-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -50px 50px -50px 50px;
  transition: transform 0.3s ease-in-out;
}

.button-container {
  margin-top: -30px;
}

.button-container-1 {
  margin-top: -70px;
}

.button-container-3 {
  margin-top: -70px;
}

.candle-body{
  color: black;
  font-family: "Nixie One", system-ui;
}

.row {
  gap: 600px!important;
}

.carousel-item {
  width: 30%!important;
}

.img-container {
  width: 50%;
}

.image-container {
  transition: transform 0.3s ease-in-out;
  width: 100%;
  border: solid 2px black;
  border-radius: 30px;
}

.slider-image {
  transition: transform 0.3s ease-in-out;
  width: 100%;
  border: solid 2px black;
  border-radius: 30px;
}

.essentials-container {
  margin-top: 5%;
  gap: 1%;
}

.image-container:hover {
  transform: scale(1.05);
}

.bubble-image{
  width: 50%;
  position: absolute;
  left: 5%;
  top: 60%;
  border: 15px solid #D4A4A5;
}

.new-arrival-image{
  position: relative;
  right: 5%;
  width: 35%;
  border: 15px solid #D4A4A5;
}

.margins-5 {
  margin-top: 5rem;
}

.new-arrivals-sign{
  width: 70%;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo {
  width: 30%;
  margin: 90px;
  padding: 30px;
  border: solid black 1px;
}

.line {
  border-top: 1px solid #000;
  position: absolute;
  width: 50%;
}

.line-1 {
  position: absolute;
  left: -268px;
  margin-top: 210px;
}

.line-2 {
  position: absolute;
  right: -268px;
  margin-top: -210px;
}

/* .footer-copyright{
  margin-top: 30px;
} */

.margin-top {
  margin-top: 10%;
  max-width: 100%;
}

.bestsellers{
  flex-direction: column;
  height: 10vh;
  margin-left: 2.5rem;
}

.popular-card-title {
  font-size: 40px;
  font-family: 'Bebas Neue', sans-serif;
}

.new-arrivals-container{
  margin-top: 15%;
  position: relative;
}

.learn-more {
  font-family: 'Work Sans', sans-serif;
  /* font-size: 20px; */
  font-weight: bold;
  color: black;
  background-color: #D4A4A5;
  border: none;
  border-radius:40px;
  padding: 20px 50px;
  transition-duration: 0.4s;
  box-shadow: 0 6px 7px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.learn-more:hover {
  background-color: black;
  color: white;
}

.flowers {
  width: 10%;
}

.most-loved-content {
  font-size: 21px;
  font-family: 'Work sans', sans-serif;
  font-weight: 300;
}

.reviews {
  background-color: white;
  position: relative;
}

.flowers {
  position: absolute;
}

.flower1 {
  top: 0%;
  left: 0%;
}

.flower2 {
  top: 60%;
  left: 0%;
}

.flower3 {
  top: 30%;
  left: 10%;
}

.flower4 {
  top: 10%;
  left: 30%;

}
.flower5 {
  top: 60%;
  left: 25%;
}

.flower6 {
  top: 35%;
  left: 45%;
  z-index: 0;
}

.flower7 {
  top: 10%;
  left: 60%;
}

.flower8 {
  top: 55%;
  left: 60%;
}

.flower9 {
  top: 75%;
  left: 85%;
}

.flower10 {
  top: 10%;
  left: 90%;
}

.flower11 {
  top: 40%;
  left: 75%;
}

.reviews-text {
  letter-spacing: 3px;
  padding: 10%;
  position: relative;
  z-index: 5;
}

.main-color {
  color: #E6FE53;
}

.boxes {
  text-align: center;
  /* padding: 0px 500px 100px 500px; */
  font-size: 22px;
  font-family: 'Work sans', sans-serif;
  font-weight: 300;
  margin: 90px;
}

.card-body {
  flex: 0!important;
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}

.most-loved-candles {
  margin-top: 8rem;
}

.light-shine-img {
  height: 100%;
}

.sunset-candles-image {
  height: auto;
  width:100%;
}

.light-img-container {
  width:100%;
}

.light-shine-img {
  height: 100%;
  width:100%;
}

.body-card {
  color: #000;
  width:100%;
}

.view-all {
  font-weight: bold;
  margin-top: 5%;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: wavy;
  color: #000;
  text-decoration-thickness: 0px;
  text-underline-offset: 10px;
  font-family: "Nixie One", system-ui;
  font-size: 1.5rem;
}

@keyframes fade-left {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.active.fade-right {
  animation: fade-right 1s ease-in;
}

.butterfly {
  position: absolute;
  width: 100%;
  height: 5%;
  z-index: 2;
}

.butterfly-left {
  position: absolute;
  transform: rotateY(180deg);
  width: 9%;
  left: 10%;
}

.m-10 {
  margin: 10rem;
}

.gradient {
  background-image: linear-gradient(to bottom right, #F1CCE5, #FFFFFF, #94D5FF );
}

.butterfly-right {
  left: 80%;
  position: absolute;
  bottom: -5%;
  width: 15%;
}

@keyframes fade-right {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.flexend {
  justify-content: flex-end;
}

.flexstart {
  justify-content: flex-start;
}

@media only screen and (max-width: 500px) {
  .essentials {
    font-size: 30px!important;
    margin-top: 2rem;
  }
  .build-candles {
    font-size: 30px!important;
    margin-top: 0%!important;
  }
  .description-text {
    font-size: 15px!important;
    line-height: 20px!important;
  }

  .light-shine {
    font-size: 30px!important;
  }

  .save-planet-title {
    font-size: 30px!important;
  }
}

@media only screen and (max-width: 665px) {
  .candella-sparks {
    width: 50%!important;
  }
}

@media only screen and (min-width: 665px) and (max-width: 810px) {
  .slider-image {
    width: 100%!important;
  }

  .wwf {
    width: 10%!important;
  }
}

@media only screen and (min-width: 810px) and (max-width: 1000px) {
  .build-candles {
    margin-top: 0!important;
  }
  .font {
    font-size: 10px!important;
  }

  .wwf {
    display: none;
  }
}

@media only screen and (min-width: 667px) and (max-width: 1000px) {
  .essentials-container {
    gap: 2%!important;
  }

  .card-title {
    font-size: 20px!important;
  }

  .add-to-bag{
    padding: 7px 20px!important;
    font-size: 10px!important;
  }

  .scent-size {
    font-size: 10px!important;
  }

  .view-all {
    margin-top: 0%!important;
  }
/*
  .text-container {
    width: 150px;
  } */

  .candle-name {
    font-size: 18px;
    clear: both;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
  }

  .essentials-cards {
    margin: 0% 0%;
  }

  .mx-3 {
    margin-right: 0rem!important;
    margin-left: 0rem!important;
    overflow: hidden;
    text-align: center;
    height: 350px;
  }

  .scent-size {
    font-size: 10px;
    clear: both;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1366px) {
  .add-to-bag{
    padding: 7px 20px!important;
    font-size: 10px!important;
  }

  .candle-name {
    font-size: 23px;
  }

  .scent-size {
    font-size: 15px;
  }

  .view-all {
    margin-top: 0%!important;
  }
/*
  .text-container {
    width: 150px;
  } */

  .candle-name {
    font-size: 18px;
    clear: both;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
  }

  .essentials-cards {
    margin: 0% 0%;
  }

  .mx-3 {
    margin-right: 0rem!important;
    margin-left: 0rem!important;
    overflow: hidden;
    text-align: center;
    height: 420px;
  }

  .scent-size {
    font-size: 10px;
    clear: both;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
  }
}

@media only screen and (max-width: 666px) {
  .essentials-container {
    flex-wrap: wrap!important;
    gap: 30px!important;
  }
}

@media only screen and (max-width: 1000px) {

  .slick-dots li {
    margin: 0!important;
  }

  .butterfly-left {
    display: none;
  }

  .create-your-own {
    flex-wrap: wrap;
  }

  .let-your-light-shine {
    flex-wrap: wrap;
  }

  .m-10 {
    margin: 5rem 2rem;
  }

  /* .candella-sparks {
    width: 50%;
  } */

  .butterfly-right {
    display: none;
  }

  .r-cards {
    display: flex;
    flex-direction: column;
  }

  .slick-next {
    right: -10px!important;
    z-index: 20!important;
  }

  .slick-prev {
    left: -10px!important;
    z-index: 20!important;
  }

  .card {
    order: 1;
  }

  .images-container {
    order: -1;
  }

  .images-container img {
    margin-bottom: 50px;
  }

  .black-div {
    padding: 0%;
  }

  .new-arrivals-card {
    width: 100%;
    left: 0;
  }

  .landing_page_image {
    min-height: 65vh;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .slider-image {
    width: 140%;
  }

  .learn-more {
    padding: 10px 30px;
  }

  .img-container {
    width: 100%;
  }

  .view-all {
    margin-top: 10%;
    font-size: 1rem;
    }

  .essentials {
    font-size: 40px;
  }

  .most-loved-candles {
    margin-top: 5rem;
  }

  .description-text {
    font-size: 15px;
    line-height: 25px;
    padding: 0rem 1rem 1rem 1rem;
  }

  .handwriting {
    font-size: 15px;
  }

  .build-candles {
    font-size: 35px;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
  }

  .popular-card-title {
    font-size: 30px;
  }

  .bestsellers {
    margin-left: 0.5rem;
  }

  .r-image {
    width: 400px;
  }

  .sunset-candles-image {
    width: 100%;
  }

  .reveal {
    text-align: -webkit-center;
  }

  .boxes {
    margin: 0;
  }

  .body-card {
    margin: 2rem 0 0 0;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .light-shine {
    font-size: 40px;
  }

  .flexend {
    justify-content: end;
  }

  .flexstart {
    justify-content: center;
  }

  .pd-top-5 {
    padding-top: 4rem;
  }

  .boxes {
    font-size: 20px;
  }

  .r-title {
    font-size: 40px;
  }

  .light-shine-img {
    width: 100%;
  }

  .planet {
    flex-wrap: wrap;
  }

  .wwf {
    width: 20%;
  }

  .save-planet-title {
    font-size: 35px;
    margin-bottom: auto;
  }

  .save-planet-text {
    font-size: 15px;
    line-height: 25px;
    padding-left: 0%;
    padding-right: 0%;
  }
}

@media only screen and (min-width: 667px) and (max-width: 740px) {
  .candle-name {
      font-size: 16px!important;
  }

  .view-all {
    margin-top: -8%!important;
  }
}

@media only screen and (width: 768px){
  .slider-image {
    width: 140%!important;
  }

  .card-title {
    font-size: 18px!important;
  }
}

@media only screen and (width: 1024px){
  .description-text {
    font-size: 17px;
    letter-spacing: 3px;
    line-height: 22px;
    padding-left: 1%;
    padding-right: 1%;
  }

  .handwriting {
    font-size: 19px;
  }

  .padding-2rem {
    margin-right: 2rem;
  }

  .body-card {
    margin-left: 3%;
  }

  .img-container {
    width: 70%;
  }

  .build-candles {
    font-size: 50px;
  }

  .m-10 {
    margin: 5rem;
  }

  .save-planet-text {
    padding-left: 0%;
    padding-right: 0%;
  }

  .light-shine {
    font-size: 50px;
  }

  .footer-links a {
    font-size: 13px;
  }

  .help-title {
    font-size: 15px;
  }

  .footer-line {
    width: 90%;
  }

  .footer-links {
    left: 5%;
  }

  .footer-socials {
    align-items: flex-end;
    flex-direction: column;
  }
  .socials {
    width: 4%;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1180px){
  .description-text {
    font-size: 17px;
    letter-spacing: 3px;
    line-height: 22px;
    padding-left: 1%;
    padding-right: 1%;
  }

  .handwriting {
    font-size: 19px;
  }

  .padding-2rem {
    margin-right: 2rem;
    margin-top: 2rem;
  }

  .body-card {
    margin-left: 3%;
  }

  .img-container {
    width: 70%;
  }

  .build-candles {
    font-size: 50px;
  }

  .m-10 {
    margin: 5rem;
  }

  .save-planet-text {
    padding-left: 0%;
    padding-right: 0%;
  }

  .light-shine {
    font-size: 50px;
  }

  .footer-links a {
    font-size: 13px;
  }

  .help-title {
    font-size: 15px;
  }

  .footer-line {
    width: 90%;
  }

  .footer-links {
    left: 5%;
  }

  .footer-socials {
    align-items: flex-end;
    flex-direction: column;
  }
  .socials {
    width: 4%;
  }
}

@media only screen and (min-width: 1190px) and (max-width: 1366px){
  .description-text {
    letter-spacing: 3px;
    line-height: 27px;
    padding-left: 1%;
    padding-right: 1%;
  }

  .handwriting {
    font-size: 19px;
  }

  .padding-2rem {
    margin-right: 2rem;
    margin-top: 2rem;
  }

  .body-card {
    margin-left: 3%;
  }

  .img-container {
    width: 70%;
  }

  .m-10 {
    margin: 5rem;
  }

  .save-planet-text {
    padding-left: 0%;
    padding-right: 0%;
  }

  .light-shine {
    font-size: 50px;
  }

  .footer-links a {
    font-size: 13px;
  }

  .help-title {
    font-size: 15px;
  }

  .footer-line {
    width: 90%;
  }

  .footer-links {
    left: 5%;
  }

  .footer-socials {
    align-items: flex-end;
    flex-direction: column;
  }
  .socials {
    width: 4%;
  }
}

@media only screen and (width: 540px){
  .slider-image {
    width: 100%;
  }
}

@media only screen and (width: 653px){
  .slider-image {
    width: 100%;
  }
}

@media only screen and (max-width: 666px){
  .essentials-container {
    display: grid!important;
    grid-template-columns: repeat(2, 1fr);
    gap: 0!important;
  }

  .button {
    padding: 10px 25px;
    font-size: 10px;
  }

  .candle-name {
    font-size: 17px;
    font-weight: 800;
  }

  .scent-size {
    font-size: 12px;
  }

  .card-body {
    padding: 10% 0;
  }
}
