.navbar {
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  padding-bottom: 0;
  position: fixed;
  border-bottom: 1px solid white;
}

.navbar-text {
  padding-top: 0rem!important;
  padding-bottom: 0rem!important;
  font-family: "Nixie One", system-ui;
  color: rgb(255, 255, 255);
  font-weight: 800;
  letter-spacing: 2px;
}

.btn {
  --bs-btn-padding-x: 0rem!important;
  --bs-btn-padding-y: 0rem!important;
}

.btn-secondary {
  margin-right: 1rem;
  --bs-btn-bg: #6c757d00!important;
  --bs-btn-border-color: #6c757d00!important;
  --bs-btn-hover-bg: none!important;
  --bs-btn-hover-border-color: none!important;
}

.dropdown {
  position: relative;
}

.navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  display: block;
}

/* .item-count{
  background-color: #e75f5f;
  top: 60px;
  right: 20px;
} */

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  color: black;
  transition: background-color 100ms linear;
}

.navbar.scrolled {
  border-bottom: 1px solid black;
}

.navbar-fixed-color.scrolled {
  color: black;
  transition: background-color 100ms linear;
}

.navbar-fixed-icon.scrolled {
  color: black;
  transition: background-color 100ms linear;
}

.dropdown-toggle.scrolled {
  color: black;
}

.openbtn.scrolled {
  color: black;
}

.badge.scrolled {
  color: black;
}

.navbar-icon {
  color:white;
}

/* .navbar-text:hover {
  text-decoration: wavy!important;
} */

.navbar-collapse {
  max-width: 50px;
}

.nav-container {
  gap: 90px;
  position: relative;
  z-index: 200;
}

.navbar-options-text {
  font-size: 18px;
  transition: 2s;
}

.navbar-options-text:hover {
  text-decoration: underline;
}

.navbar-brand {
  width: 30%;
}

.position-profile-basket {
  position: relative;
  bottom: 1.9rem;
}

.nav-options {
  display: none;
}

.gap {
  gap: 3rem;
}

@media only screen and (max-width: 1000px) {
  .position-profile-basket {
    bottom: 0rem;
  }

  .nav-container {
    gap: 0px;
  }

  .gap {
    gap: 0rem;
  }

  .navbar-options-text {
    font-size: 15px;
    transition: 2s;
  }

  .navbar {
    /* position: sticky; */
    padding: 35px 25px 35px 0px;
  }

  .options {
    display: none!important;
  }

  .navbar>.container-fluid {
    display: grid !important;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }

  .nav-icons {
    display: flex;
    justify-content: flex-start;
  }

  .pye-logo {
    display: flex;
    justify-content: center;
    text-align: center;
    position:absolute;
    z-index: -1;
  }

  .navbar-brand {
    width:45%;
  }

  .basket-profile {
    display: flex;
    justify-content: flex-end;
  }
  /* .item-count {
    top: 60px;
    right: 0;
  } */
}

.navbar-toggler {
  border: none!important;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.navbar-text {
  text-align: left;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
  text-decoration: none;
}

.sidebar .closebtn {
  color: #ffffff;
  position: absolute;
  top: 3%;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
