.order-confirmation-image {
  width: 100%;
}

body.payments.show {
  background-color: white;
  margin: 10rem 0;

  .card-text:last-child {
    display: block;
  }


  .navbar-text {
    color: black;
  }

  .navbar {
    background-color: #fff !important;
    border-bottom: 1px solid black;
  }

  .navbar-icon {
    color: black;
  }

  .dropdown-toggle::after {
    color: black;
  }
  .openbtn {
    color: black;
  }

  .badge {
    color: black;
  }

}

.payments-line-item-image {
  width: 20%;
}
