.order-confirmation-image {
  width: 100%;
}

.order-cards {
  margin-left: 200px; margin-right: 200px; padding: 50px; border-bottom: solid 3px black; border-radius: 0;
}

body.payments.show {
  background-image: linear-gradient(to bottom right, #F1CCE5, #FFFFFF, #94D5FF);

  .card-text:last-child {
    display: block;
    justify-content: flex-start !important;
  }

  .navbar-text {
    color: black;
  }

  .navbar {
    background-color: #fff !important;
    border-bottom: 1px solid black;
  }

  .navbar-icon {
    color: black;
  }

  .dropdown-toggle::after {
    color: black;
  }
  .openbtn {
    color: black;
  }

  .badge {
    color: black;
  }

  .card-body {
    padding: 0;
  }
}

.payments-line-item-image {
  width: 20%;
}

.payments-show-page {
  margin: 10rem 0;
}

.thankyou-image {
  width: 40%;
}

.order-confirmation-message {
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px;
  margin: 3rem 0;
}

.order-details {
  margin-left: 200px;
  margin-right: 200px;
  border-bottom: solid 3px black;
  padding: 40px 0px;
}

.order-cards {
  margin-bottom: 20px;
}

.summary-totals {
  width: 300%;
  font-family: 'Martel Sans', sans-serif;
}

.order-total {
  font-size: 20px;
  font-family: 'Martel Sans', sans-serif;
  text-align: center;
}


@media only screen and (max-width: 1000px){
  .order-details {
    margin-left: 1rem;
    margin-right: 1rem;
    border-bottom: solid 3px black;
    padding: 40px 0px;
  }

  .order-cards {
    margin-left: 0;
    margin-right: 0;
    padding: 50px;
    flex-direction: column !important;
  }

  .summary-totals {
    width: initial;
  }
}
