body.users.show {
  background-color: #F1CCE5;

  .navbar-text {
    color: black;
  }

  .navbar {
    background-color: #fff !important;
    border-bottom: 1px solid black;
    position: sticky;
  }

  .navbar-icon {
    color: black;
  }

  .dropdown-toggle::after {
    color: black;
  }
  .openbtn {
    color: black;
  }

  .badge {
    color: black;
  }

  .view-all {
    text-underline-offset: 7px;
    margin: 0;
    font-weight: bold;
    text-decoration: underline;
  }

  #sidebar .first_nav {
    margin: 1em 0 2em 0;
    font-family: "Roboto", sans-serif;
  }

  #sidebar .first_nav li {
    font-size: 0.5em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  #sidebar .first_nav li.logout {
    font-weight: normal;
    text-transform: inherit;
  }

  #sidebar .main_nav li {
    border-width: 0;
    padding: 1em 0;
  }

  #sidebar .main_nav li {
    border-bottom: 1px solid black;
    font-size: 0.4em;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 2em 0;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    font-family: "Roboto", sans-serif;
  }

  ul {
    list-style-type: none;
    color: black;
  }

  #sidebar .main_nav li::before{
    content: "\00BB";
    padding-right:3rem;
  }

  #sidebar {
    min-width: 20%;
  }

  @media only screen and (max-width: 1000px){
    #sidebar {
      display: none;
    }

    .profile-container {
      margin: 2rem;
    }
  }
}

a {
  color: black;
}

.my-account-container {
  padding-bottom: 30rem;
}

.profile-container {
  margin-top: 3rem;
  margin-left: 7rem;
}

.my-account {
  margin-top: 3rem;
  gap: 10rem;
}

.my-account-content {
  padding-top: 2rem;
  font-family: "Roboto", sans-serif;
}

.black-line {
  border-top: 1px solid black;;
  width: 100%;
}

body.registrations.edit {
  background-color: #ffffff;

  .navbar-text {
    color: black;
  }

  .navbar {
    background-color: #fff !important;
    border-bottom: 1px solid black;
  }

  .navbar-icon {
    color: black;
  }

  .dropdown-toggle::after {
    color: black;
  }
  .openbtn {
    color: black;
  }

  .badge {
    color: black;
  }
}
