.candle-show {
  flex-flow: column wrap;
  gap: 30px;
  max-width: 40%;
}

.badge {
  color: black;
  border-radius: 50%;
  padding: 0.2em 0.5em;
  position: absolute;
}

.description {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 15px;
  letter-spacing: 3px;
  line-height: 25px;
  padding-right: 3rem;
}

.candle-image {
  width: 100%;
  padding-right: 3rem;
  padding-left: 3rem;
}

.price {
  font-family: "Nixie One", system-ui;
  font-size: 30px;
  color: #000;
}

a {
  text-decoration: none;
}

.slick-slide img {
  margin: 20px!important;
}


.slick-next:before {
  content: "\27A4"!important;
  font-size: 30px!important;
  color: black!important;
  opacity: 1!important;
}

.slick-prev:before {
  content: '\27A4'!important;
  transform: rotateY('180deg')!important;
  font-size: 30px!important;
  color: black!important;
  opacity: 1!important;
}

.show-carousel-candles {
  font-family: "Nixie one";
  margin-top: 8rem;
  font-size: 40px;
}

@media only screen and (max-width: 1000px) {
  .media-flex-wrap {
    flex-wrap: wrap;
  }
  .candle-image {
    padding: 2rem;
    min-height: 60vh;
  }
  .candle-show {
    max-width: 100%;
    padding-left: 2rem;
  }
  .price {
    font-size: 20px;
  }
}
