.add-to-bag {
  background-color: black;
  padding: 30px 132px;
  width: 100%;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  border: 0;
}

.candle-show {
  flex-flow: column wrap;
  gap: 100px;
  max-width: 30%;
  padding-right: 150px;
}

.badge {
  color: white;
  border-radius: 50%;
  padding: 0.2em 0.5em;
  position: absolute;
}

.candle-image {
  width: 100%;
}

a {
  text-decoration: none;
}

.slick-slide img {
  margin: 20px!important;
}

.slick-next:before {
  content: "\27A4"!important;
  font-size: 40px!important;
}

.slick-prev:before {
  content: '\27A4'!important;
  transform: rotateY('180deg')!important;
  font-size: 40px!important;
}
